// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

@goku-orange: #F85B1A;
@goku-blue: #072083;

@vegeta-ultrablue: #318eba;
@vegeta-blue: #244c96;

@broly-purple: #7d3f8b;
@broly-green: #d0eb5d;

@saiyan-red: #d53056;
@saiyan-yellow: #f6cc81;
@saiyan-blue: #31a4af;
